In [35]:
import pandas as pd 

weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Sunny', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [2]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [4]:
df.shape

(6, 4)

In [5]:
newdf = df[2:5]
newdf

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny

In [8]:
newdf = df.iloc[2:5 , :-1]
newdf

        day  temperature  windspeed
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4

In [14]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [13]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [15]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4    Sunny
5    Sunny
Name: event, dtype: object

In [16]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [17]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [18]:
df.windspeed

0    6
1    7
2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

In [21]:
discipline = df[["day","event"]]
discipline

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017  Sunny
5  1/6/2017  Sunny

In [31]:
print(df.temperature.mean())
print(df.temperature.median())
print(df.temperature.memory_usage())
print(df.temperature.std())
print(df.temperature.max())
print(df.temperature.min())

30.333333333333332
31.5
176
3.8297084310253524
35
24

In [39]:
len(df["windspeed"])

6

In [46]:
len(df[ df['temperature'] < 30 ])

2

In [48]:
df.count()

day            6
temperature    6
windspeed      6
event          6
dtype: int64

In [3]:
import pandas as pd 

columns = []
data = dict()

num = int(input("please enter the number of columns"))
while(num > 0):
    columns.append(input("please enter the column name: "))
    num -=1

for i in columns:
    data[i] = []

rows = int(input("please enter the number of rows: "))
while(rows > 0):
    for i in data:
        value = input(f"please enter the value of {i}: ")
        data[i].append(value)

    rows-=1
dataframe = pd.DataFrame(data)
dataframe

please enter the number of columns10
please enter the column name: A
please enter the column name: B
please enter the column name: C
please enter the column name: D
please enter the column name: E
please enter the column name: F
please enter the column name: G
please enter the column name: H
please enter the column name: I
please enter the column name: J
please enter the number of rows: 10
please enter the value of A: 1
please enter the value of B: 2
please enter the value of C: 3
please enter the value of D: 4
please enter the value of E: 5
please enter the value of F: 6
please enter the value of G: 7
please enter the value of H: 8
please enter the value of I: 9
please enter the value of J: 10
please enter the value of A: A1
please enter the value of B: B2
please enter the value of C: C3
please enter the value of D: D4
please enter the value of E: E5
please enter the value of F: F6
please enter the value of G: G7
please enter the value of H: H8
please enter the value of I: I9
please enter the value of J: J10
please enter the value of A: 10
please enter the value of B: 20
please enter the value of C: 30
please enter the value of D: 40
please enter the value of E: 50
please enter the value of F: 60
please enter the value of G: 70
please enter the value of H: 80
please enter the value of I: 90
please enter the value of J: 100
please enter the value of A: -10
please enter the value of B: -20
please enter the value of C: -30
please enter the value of D: -40
please enter the value of E: -50
please enter the value of F: -60
please enter the value of G: -70
please enter the value of H: -80
please enter the value of I: -90
please enter the value of J: -100
please enter the value of A: AA
please enter the value of B: AB
please enter the value of C: AC
please enter the value of D: AD
please enter the value of E: AE
please enter the value of F: AF
please enter the value of G: AG
please enter the value of H: AH
please enter the value of I: AI
please enter the value of J: AJ
please enter the value of A: BB
please enter the value of B: BA
please enter the value of C: BC
please enter the value of D: BD
please enter the value of E: BE
please enter the value of F: BF
please enter the value of G: BG
please enter the value of H: BI
please enter the value of I: BH
please enter the value of J: BJ
please enter the value of A: CA
please enter the value of B: CB
please enter the value of C: CC
please enter the value of D: CD
please enter the value of E: CE
please enter the value of F: CF
please enter the value of G: CG
please enter the value of H: CH
please enter the value of I: CI
please enter the value of J: CJ
please enter the value of A: DA
please enter the value of B: DB
please enter the value of C: DC
please enter the value of D: DD
please enter the value of E: DE
please enter the value of F: DF
please enter the value of G: DG
please enter the value of H: DH
please enter the value of I: DI
please enter the value of J: DJ
please enter the value of A: EA
please enter the value of B: EB
please enter the value of C: EC
please enter the value of D: ED
please enter the value of E: EF
please enter the value of F: EE
please enter the value of G: EG
please enter the value of H: EH
please enter the value of I: EI
please enter the value of J: EJ
please enter the value of A: FA
please enter the value of B: FB
please enter the value of C: FC
please enter the value of D: FD
please enter the value of E: FE
please enter the value of F: FF
please enter the value of G: FG
please enter the value of H: FH
please enter the value of I: FI
please enter the value of J: FJ

     A    B    C    D    E    F    G    H    I     J
0    1    2    3    4    5    6    7    8    9    10
1   A1   B2   C3   D4   E5   F6   G7   H8   I9   J10
2   10   20   30   40   50   60   70   80   90   100
3  -10  -20  -30  -40  -50  -60  -70  -80  -90  -100
4   AA   AB   AC   AD   AE   AF   AG   AH   AI    AJ
5   BB   BA   BC   BD   BE   BF   BG   BI   BH    BJ
6   CA   CB   CC   CD   CE   CF   CG   CH   CI    CJ
7   DA   DB   DC   DD   DE   DF   DG   DH   DI    DJ
8   EA   EB   EC   ED   EF   EE   EG   EH   EI    EJ
9   FA   FB   FC   FD   FE   FF   FG   FH   FI    FJ